<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="naver-site-verification"
      content="f0d552229f735f8deb55e64a14e9412f93481c6a"
    />
    <meta
      name="google-site-verification"
      content="Lmvg_6oTS-upqpBYhkV-fip35IjDn8PRVApNoqHE3JI"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9854614070253877"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>DivFlow - Exxon Mobil</title>
    <link rel="icon" href="/images/black_logo_3.png" type="image/png" />
    <style>
      body {
        background-color: rgb(18, 18, 18);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }

      .container {
        max-width: 50%;
        margin: auto;
        padding: 2.5%;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }

      @media (max-width: 480px) {
        .container {
          max-width: 100%;
        }
      }

      .title {
        text-align: center;
      }

      .logo {
        border-radius: 50%;
        height: 1em;
        width: auto;
      }
    </style>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-DBDR0XE4HE"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-DBDR0XE4HE");
    </script>
  </head>
  <body>
    <div th:replace="~{ navbar.html::navbar }"></div>
    <div class="container">
      <h1 class="title">
        <img
          src="https://s3-symbol-logo.tradingview.com/exxon--big.svg"
          alt="logo"
          class="logo mb-2"
        />
        Exxon Mobil
      </h1>

      <hr />

      <div>
        <h4>1. Exxon Mobil 개요: 주요 정보</h4>
        <p>
          Exxon Mobil Corporation (XOM)은 세계 최대의 에너지 기업 중 하나로,
          석유 및 가스 탐사, 생산, 정제, 유통 등을 주요 사업으로 하고 있습니다.
          1870년에 설립된 이 회사는 전 세계적으로 석유와 가스 자원의 개발 및
          생산을 통해 에너지 산업에서 중요한 역할을 하고 있습니다. Exxon Mobil은
          화학제품, 연료, 윤활유 등 다양한 제품을 생산하며, 에너지 산업에서의
          입지를 확고히 하고 있습니다.
        </p>
        <p>
          Exxon Mobil은 석유 및 가스 자원의 개발과 생산을 위해 다양한 국가에서
          활동하고 있으며, 전 세계에 걸쳐 정유소와 유통 네트워크를 운영하고
          있습니다. 회사는 지속 가능한 에너지 솔루션을 추구하며, 친환경 기술에
          대한 투자와 탄소 배출 저감을 위한 노력을 기울이고 있습니다. Exxon
          Mobil은 주주 가치를 증대시키기 위해 지속적으로 배당금을 지급하고
          있으며, 강력한 재무 구조와 안정적인 현금 흐름을 바탕으로 사업을
          확장하고 있습니다.
        </p>
      </div>

      <hr />

      <h4>2. Exxon Mobil 주가</h4>
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-overview.js"
          async
        >
            {
            "symbols": [
              [
                "NYSE:XOM|60M"
              ]
            ],
            "chartOnly": false,
            "width": "100%",
            "locale": "kr",
            "colorTheme": "dark",
            "autosize": true,
            "showVolume": false,
            "showMA": false,
            "hideDateRanges": false,
            "hideMarketStatus": false,
            "hideSymbolLogo": false,
            "scalePosition": "right",
            "scaleMode": "Normal",
            "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
            "fontSize": "10",
            "noTimeScale": false,
            "valuesTracking": "1",
            "changeMode": "price-and-percent",
            "chartType": "area",
            "maLineColor": "#2962FF",
            "maLineWidth": 1,
            "maLength": 9,
            "headerFontSize": "medium",
            "lineWidth": 2,
            "lineType": 0,
            "dateRanges": [
              "1d|1",
              "1m|30",
              "3m|60",
              "12m|1D",
              "60m|1W",
              "all|1M"
            ]
          }
        </script>
      </div>
      <!-- TradingView Widget END -->

      <hr />

      <div>
        <h4>3. Exxon Mobil 과거 수익률과 전망</h4>
        <h5><strong>과거 수익률</strong></h5>
        <p>
          Exxon Mobil Corporation (XOM)은 석유와 가스 산업에서 안정적인 수익을
          창출해온 기업으로, 다양한 경제 상황에서 경쟁력 있는 수익률을
          기록해왔습니다. 특히 원유 가격 변동과 글로벌 에너지 수요 변화에 따라
          수익률의 변동성이 있지만, Exxon Mobil은 강력한 재무 구조와 효율적인
          운영 전략을 통해 이를 극복해왔습니다.
        </p>
        <ol>
          <li><strong>장기 수익률</strong></li>
          <ul>
            <li>
              Exxon Mobil은 지난 수십 년간 에너지 분야에서 안정적인 장기
              수익률을 기록하였으며, 주요 글로벌 에너지 기업들과 경쟁하면서도
              우수한 실적을 달성했습니다.
            </li>
            <li>
              3년, 5년, 10년 동안 원유 가격과 시장의 불확실성에도 불구하고,
              Exxon Mobil은 꾸준한 연평균 성장을 이어왔습니다.
            </li>
          </ul>
          <li><strong>배당 성장</strong></li>
          <ul>
            <li>
              Exxon Mobil은 배당금을 꾸준히 지급하며, 안정적인 현금 흐름을
              바탕으로 지난 몇 년 동안 배당금을 인상해왔습니다.
            </li>
          </ul>
          <li><strong>배당 수익률</strong></li>
          <ul>
            <li>
              Exxon Mobil은 배당금을 통해 안정적인 수익을 제공하며, 최근 몇 년
              간 배당 수익률은 약 3%대에서 4%대로 기록되고 있습니다.
            </li>
          </ul>
        </ol>
        <h5><strong>전망</strong></h5>
        <ol>
          <li><strong>에너지 수요 증가</strong></li>
          <ul>
            <li>
              글로벌 에너지 수요가 지속적으로 증가함에 따라, Exxon Mobil은
              안정적인 수익을 창출할 것으로 예상됩니다. 특히, 재생 가능 에너지
              및 청정 기술에 대한 투자가 향후 수익성에 긍정적인 영향을 미칠
              것입니다.
            </li>
          </ul>
          <li><strong>원유 가격 변동성</strong></li>
          <ul>
            <li>
              원유 가격의 변동성이 Exxon Mobil의 수익성에 영향을 미칠 수
              있습니다. 그러나 회사는 강력한 재무 구조와 효율적인 비용 절감을
              통해 이 변동성에 잘 대응할 수 있습니다.
            </li>
          </ul>
          <li><strong>글로벌 경제 불확실성</strong></li>
          <ul>
            <li>
              글로벌 경제 불확실성 및 정책 변화에 따라 Exxon Mobil의 성장에
              영향을 줄 수 있으나, 회사는 안정적인 현금 흐름과 적극적인 투자
              전략을 통해 이를 극복할 것으로 예상됩니다.
            </li>
          </ul>
          <li><strong>배당 증가 및 자사주 매입</strong></li>
          <ul>
            <li>
              Exxon Mobil은 꾸준한 배당금 증가와 자사주 매입을 통해 주주 가치를
              증대시키고 있습니다. 이는 장기적인 투자자들에게 긍정적인 영향을
              미칠 것입니다.
            </li>
          </ul>
        </ol>
        <p>
          Exxon Mobil은 에너지 시장에서 지속적인 성장 잠재력을 보이며, 효율적인
          운영과 안정적인 배당금을 바탕으로 장기적인 투자 가치가 있습니다. 다만,
          원유 가격의 변동성과 글로벌 경제 불확실성 등의 외부 요인을 고려해야
          하며, 장기적인 투자 전략이 중요합니다.
        </p>
      </div>

      <hr />

      <div>
        <h4>4. Exxon Mobil 배당률과 배당성장률</h4>
        <h5><strong>배당률</strong></h5>
        <p>
          배당률은 투자자가 XOM에 투자했을 때 받는 배당금의 비율을 의미합니다.
          이는 배당금 ÷ 주식 가격으로 계산됩니다.
        </p>
        <ul>
          <li>
            Exxon Mobil은 안정적인 현금 흐름을 바탕으로 꾸준히 배당금을 지급하는
            회사입니다. 회사는 주주들에게 일정한 비율의 배당금을 제공하여
            안정적인 수익을 제공합니다.
          </li>
          <li>
            Exxon Mobil의 배당률은 일반적으로 다른 에너지 기업들과 비교해
            경쟁력이 있으며, 투자자들에게 매력적인 수익을 제공합니다.
          </li>
          <li>
            Exxon Mobil의 최근 배당률은 약 3.5% - 4.0%로, 안정적인 현금 흐름을
            바탕으로 꾸준한 배당금을 지급하고 있습니다. 이는 투자자들에게 비교적
            높은 배당률을 제공하며, 안정적인 배당금 지급과 장기적인 수익성
            제공을 통해 가치 있는 투자처로 평가됩니다.
          </li>
        </ul>
        <h5><strong>배당성장률</strong></h5>
        <p>
          배당성장률은 Exxon Mobil의 배당금이 매년 얼마나 증가하는지를 나타내는
          지표입니다. Exxon Mobil은 과거 몇 년간 꾸준한 배당 성장을
          보여주었으며, 앞으로도 안정적인 성장을 지속할 것으로 기대됩니다.
        </p>
        <ul>
          <li>
            Exxon Mobil은 안정적인 매출 성장과 강력한 현금 흐름을 바탕으로
            배당금을 지속적으로 인상해왔습니다. 이는 회사가 건강한 재무 상태를
            유지하고 있음을 보여주는 지표입니다.
          </li>
          <li>
            회사는 배당 성장을 유지하면서도, 에너지 시장의 변화에 적응하고 지속
            가능한 에너지 개발을 통해 성장을 지속할 것으로 예상됩니다. 이러한
            배당 성장은 주주들에게 장기적인 안정적인 수익을 제공합니다.
          </li>
          <li>
            Exxon Mobil의 최근 배당성장률은 매년 약 5% 정도로, 지속적인 배당금
            증가가 투자자들에게 장기적인 수익을 보장하는 요소로 작용합니다.
          </li>
        </ul>
        <h5><strong>배당률과 배당성장률의 중요성</strong></h5>
        <ul>
          <li>
            배당률은 주식 가격에 대한 배당금 비율을 나타내며, 이는 즉각적인
            수익을 제공합니다. Exxon Mobil은 안정적인 배당금을 제공하여 배당을
            중시하는 투자자에게 매력적인 선택이 됩니다.
          </li>
          <li>
            배당성장률은 시간이 지남에 따라 배당금의 증가를 기대할 수 있게 하며,
            장기적인 투자에 있어 중요한 요소입니다. Exxon Mobil은 지속적인
            배당금 증가를 통해 투자자들에게 장기적인 수익을 제공하고 있습니다.
          </li>
          <li>
            평균 배당률과 배당성장률은 각각 주식의 매력도를 평가하는 중요한
            기준으로, 안정적인 배당 수익과 꾸준한 성장 가능성을 나타냅니다.
            Exxon Mobil은 높은 배당률과 안정적인 배당금 성장을 통해 투자자들에게
            긍정적인 평가를 받고 있습니다.
          </li>
        </ul>
        <p>
          Exxon Mobil은 꾸준한 배당 지급과 배당금 증가를 통해 주주 가치를
          증대시키는 전략을 취하고 있습니다. 이는 배당을 중시하는 투자자에게
          매력적인 선택이 될 수 있습니다. 안정적인 현금 흐름과 지속적인 성장
          덕분에 Exxon Mobil은 장기적인 투자에 있어 긍정적인 전망을 제공합니다.
        </p>
      </div>

      <hr />

      <div>
        <h4>5. Exxon Mobil 메리트와 리스크</h4>
        <h5><strong>Exxon Mobil의 메리트 (장점)</strong></h5>
        <ol>
          <li><strong>효율적인 운영 모델</strong></li>
          <ul>
            <li>
              Exxon Mobil은 세계 최대의 석유 및 가스 기업 중 하나로, 효율적인
              생산과 운영 모델을 통해 높은 수익성을 자랑합니다.
            </li>
            <li>
              석유 및 가스 자원의 효율적인 탐사 및 개발을 통해 글로벌 에너지
              시장에서 강력한 경쟁력을 확보하고 있습니다.
            </li>
          </ul>
          <li><strong>강력한 브랜드 이미지</strong></li>
          <ul>
            <li>
              Exxon Mobil은 오랜 역사와 글로벌 입지를 바탕으로 고유의 브랜드
              이미지를 유지하고 있으며, 이는 투자자들에게 신뢰를 주고 있습니다.
            </li>
            <li>
              지속 가능한 에너지 개발과 환경 보호를 위한 노력을 통해 긍정적인
              이미지를 구축하고 있습니다.
            </li>
          </ul>
          <li><strong>글로벌 시장 지배력</strong></li>
          <ul>
            <li>
              Exxon Mobil은 전 세계적으로 사업을 운영하며, 다양한 국가에서
              강력한 시장 점유율을 확보하고 있습니다.
            </li>
            <li>
              지속적인 글로벌 사업 확장과 함께 중요한 에너지 자원을 보유하고
              있어, 안정적인 수익을 창출할 수 있습니다.
            </li>
          </ul>
          <li><strong>지속 가능한 에너지 투자</strong></li>
          <ul>
            <li>
              Exxon Mobil은 지속 가능한 에너지 개발 및 전환을 위한 연구와 투자를
              확대하고 있으며, 향후 저탄소 에너지로의 전환에 중요한 역할을 하고
              있습니다.
            </li>
            <li>
              청정 에너지 개발을 위한 연구 및 개발(R&D)을 강화하고 있어, 환경
              규제 강화와 같은 외부 압력에도 적극적으로 대응하고 있습니다.
            </li>
          </ul>
        </ol>
        <h5><strong>Exxon Mobil의 리스크 (단점)</strong></h5>
        <ol>
          <li><strong>석유 가격 변동성</strong></li>
          <ul>
            <li>
              Exxon Mobil의 주요 수익원은 석유 및 천연가스 판매에서 발생하기
              때문에, 원자재 가격 변동에 매우 민감합니다.
            </li>
            <li>
              석유 가격의 급격한 하락은 회사의 수익성에 큰 영향을 미칠 수
              있으며, 이는 주가와 기업 가치에 부정적인 영향을 줄 수 있습니다.
            </li>
          </ul>
          <li><strong>환경 규제와 법적 리스크</strong></li>
          <ul>
            <li>
              전 세계적으로 환경 보호와 관련된 규제가 강화되고 있어, Exxon
              Mobil은 이러한 규제에 적응하기 위해 추가적인 비용을 부담해야 할 수
              있습니다.
            </li>
            <li>
              또한, 석유 및 가스 탐사와 생산 과정에서 발생하는 환경 문제로 인해
              법적 리스크가 증가할 수 있습니다.
            </li>
          </ul>
          <li><strong>지속적인 정치적 불안정성</strong></li>
          <ul>
            <li>
              Exxon Mobil은 전 세계 여러 나라에서 사업을 운영하기 때문에, 정치적
              불안정성이나 무역 분쟁이 회사에 영향을 미칠 수 있습니다.
            </li>
            <li>
              특히 석유 자원을 많이 보유한 지역에서 발생하는 정치적 위기는
              생산과 공급망에 영향을 줄 수 있습니다.
            </li>
          </ul>
          <li><strong>전환기의 에너지 시장 변화</strong></li>
          <ul>
            <li>
              세계적으로 청정 에너지와 저탄소 기술에 대한 수요가 증가함에 따라,
              전통적인 화석연료 산업에서 청정 에너지로의 전환이 가속화되고
              있습니다.
            </li>
            <li>
              Exxon Mobil은 이에 대한 적극적인 대응이 필요하며, 기존 석유 및
              가스 사업 외에 지속 가능한 에너지 사업을 확장해야 합니다.
            </li>
          </ul>
          <li><strong>자원 고갈 우려</strong></li>
          <ul>
            <li>
              Exxon Mobil의 석유 및 천연가스 자원은 한정적이며, 자원의 고갈
              우려가 장기적인 사업 안정성에 영향을 미칠 수 있습니다.
            </li>
            <li>
              신규 자원 개발에 대한 투자와 경쟁이 치열하여, 자원의 확보와
              지속적인 공급에 어려움이 있을 수 있습니다.
            </li>
          </ul>
        </ol>
        <p>
          Exxon Mobil은 강력한 글로벌 시장 지배력과 효율적인 운영 모델을 통해
          장기적인 성장 가능성을 가지고 있지만, 석유 가격 변동성, 환경 규제,
          정치적 불안정성 등 여러 리스크에도 노출되어 있습니다. 이러한
          리스크들을 효과적으로 관리하는 것이 회사의 지속적인 성장에 중요합니다.
        </p>
      </div>

      <hr />

      <div>
        <h4>6. Exxon Mobil과 비교할 만한 기업</h4>
        <table
          border="1"
          cellpadding="10"
          cellspacing="0"
          style="border-collapse: collapse; width: 100%; text-align: center"
        >
          <thead>
            <tr>
              <th>기업</th>
              <th>배당 수익률</th>
              <th>시가총액</th>
              <th>주요 전략</th>
              <th>특징</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>Exxon Mobil (XOM)</strong></td>
              <td>3.5% - 4.0%</td>
              <td>약 $450B</td>
              <td>석유 및 가스 탐사, 생산, 정제</td>
              <td>세계 최대의 다국적 에너지 기업, 안정적인 배당금 제공</td>
            </tr>
            <tr>
              <td><strong>Chevron (CVX)</strong></td>
              <td>3.5% - 4.0%</td>
              <td>약 $300B</td>
              <td>석유 및 가스 탐사 및 생산</td>
              <td>강력한 배당 성향을 가진 대형 에너지 기업</td>
            </tr>
            <tr>
              <td><strong>Royal Dutch Shell (RDS.A)</strong></td>
              <td>3.8% - 4.2%</td>
              <td>약 $200B</td>
              <td>석유, 가스 및 재생 가능 에너지 사업</td>
              <td>에너지 전환과 지속 가능성에 중점을 두고 있는 글로벌 기업</td>
            </tr>
            <tr>
              <td><strong>BP (BP)</strong></td>
              <td>4.5% - 5.0%</td>
              <td>약 $230B</td>
              <td>석유 및 가스 탐사 및 생산</td>
              <td>
                배당 수익률이 높은 대형 에너지 기업, 지속 가능한 에너지로의 전환
              </td>
            </tr>
            <tr>
              <td><strong>TotalEnergies (TOT)</strong></td>
              <td>4.0% - 4.5%</td>
              <td>약 $170B</td>
              <td>석유, 가스 및 재생 가능 에너지 사업</td>
              <td>
                지속 가능한 에너지 솔루션을 제공하며, 재생 가능 에너지에 대한
                투자
              </td>
            </tr>
            <tr>
              <td><strong>ConocoPhillips (COP)</strong></td>
              <td>2.0% - 2.5%</td>
              <td>약 $150B</td>
              <td>석유 및 가스 탐사 및 생산</td>
              <td>석유 생산을 주요 사업으로 하는 대형 에너지 기업</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr />

    <div th:replace="~{ footer.html::footer }"></div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
